#!/usr/bin/env bash
# ^ for code highlighting
# Used by https://direnv.net
set -euo pipefail

# External users should eval `devenv direnvrc` or use `source_url` to load this file
source_env ./direnvrc

# Use our own last built devenv/nix in CLI
log_status "building dev devenv..."
nix build --print-out-paths --accept-flake-config || log_status "nix build failed, using previous build"
PATH_add "result/bin"

log_status "evaluating shell..."
use devenv
