source_url "https://raw.githubusercontent.com/cachix/devenv/af67fa52f0d0588b185069354a4c94aba0e32476/direnvrc" "sha256-sLuqWQl6hJ8eO1xaDwUETRnobEV+LL/9rhje9calUz8="

# use our own last built devenv/nix in CLI
PATH_add result/bin

use devenv