# DO NOT add editor or system-specific files here.
# Add them to your global gitignore instead in `$XDG_CONFIG_HOME/git/ignore`

# Nix
result
result-*

# Devenv
.devenv*

# Environment variables
/.env
/.env.*

# Direnv
.direnv

# Pre-commit hooks
/.pre-commit-config.yaml

# Rust
target/

# JavaScript
node_modules/

**/.claude/settings.local.json
.claude
