# DO NOT add editor or system-specific files here.
# Add them to your global gitignore instead in `$XDG_CONFIG_HOME/git/ignore`

# Nix & devenv
result
/.env
/.env.*
.devenv*
.direnv*
/.pre-commit-config.yaml
man

# mkdocs
/docs/site/
/docs/.cache/

# Examples
examples/rust/app/target/

# Rust
target/

# JavaScript
node_modules/

**/.claude/settings.local.json
