site_name: devenv
site_description: 'Fast, Declarative, Reproducible, and Composable Developer Environments using Nix'
site_url: 'https://devenv.sh'
repo_name: 'cachix/devenv'
repo_url: 'https://github.com/cachix/devenv'
edit_uri: 'edit/main/docs'
extra_css:
  - assets/extra.css
theme:
  name: material
  logo: assets/logo.webp
  favicon: assets/favicon.svg
  icon:
    repo: fontawesome/brands/github
  custom_dir: docs/overrides
  palette:
    primary: white
    accent: '#FBFBFB'
  features:
    - tabs
    - instant
    - navigation.tabs
    - navigation.expand
    - navigation.instant
    - navigation.tracking
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.action.edit
nav:
  - Home: index.md
  - Documentation:
    - Getting Started: getting-started.md
    - Files And Variables: files-and-variables.md
    - Writing devenv.nix:
      - Basics: basics.md
      - Packages: packages.md
      - Scripts: scripts.md
      - Languages: languages.md
      - Processes: processes.md
      - Services: services.md
      - Containers: containers.md
      - Pre-Commit Hooks: pre-commit-hooks.md
      - Common Patterns: common-patterns.md
    - Writing devenv.yaml:
      - Inputs: inputs.md
      - Imports: composing-using-imports.md
    - Overview:
      - Automatic Shell Activation: automatic-shell-activation.md
      - Garbage Collection: garbage-collection.md
    - Guides:
      - Using With Flakes: guides/using-with-flakes.md
      - Using With flake.parts: guides/using-with-flake-parts.md
    - Integrations:
      - .env: integrations/dotenv.md
      - GitHub Actions: integrations/github-actions.md
      - Codespaces / devcontainer: integrations/codespaces-devcontainer.md
      - Difftastic: integrations/difftastic.md
    - Examples: examples.md
    - Editor Support:
      - VSCode: editor-support/vscode.md
      - PhpStorm: editor-support/phpstorm.md
    - Roadmap: roadmap.md
    - Reference:
      - devenv.yaml: reference/yaml-options.md
      - devenv.nix: reference/options.md
  - Blog:
      - blog/index.md
  - Community:
      - Get Involved: community/get-involved.md
      - Contributing: community/contributing.md

plugins:
  blog: {}
  search: {}
  markdownextradata: {}
  include-markdown: {}
  social:
    cards_layout_options:
      background_color: "#FBFBFB"
      color: "#425C82"
  rss:
    match_path: blog/posts/.*
    date_from_meta:
      as_creation: date
      as_update: date

extra:
  social:
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/cachix_org
    - icon: fontawesome/brands/github
      link: https://github.com/cachix/devenv
    - icon: fontawesome/brands/discord
      link: https://discord.gg/naMgvexb6q
  devenv:
    version: 0.6.3

markdown_extensions:
  - tables
  - admonition
  - pymdownx.escapeall
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist
