site_name: devenv
site_description: 'Fast, Declarative, Reproducible, and Composable Developer Environments'
site_url: 'https://devenv.sh'
repo_name: 'cachix/devenv'
repo_url: 'https://github.com/cachix/devenv'
edit_uri: 'edit/main/docs'
extra_css:
  - assets/extra.css
theme:
  name: material
  logo: assets/logo.webp
  favicon: assets/favicon.svg

  custom_dir: docs/overrides
  palette:
    primary: white
    accent: '#FBFBFB'
  features:
    - tabs
    - instant
    - navigation.tabs
    - navigation.expand
    - navigation.instant
    - navigation.tracking
    - content.code.annotate
    - content.tabs.link
nav:
  - Home: index.md
  - Documentation:
    - Getting Started: getting-started.md
    - Overview:
      - Files And Variables: files-and-variables.md
      - Automatic Shell Activation: automatic-shell-activation.md
      - Garbage Collection: garbage-collection.md
    - Writing devenv.yaml:
      - Inputs: inputs.md
      - Composing Using Imports: composing-using-imports.md
    - Writing devenv.nix:
      - Basics: basics.md
      - Packages: packages.md
      - Scripts: scripts.md
      - Languages: languages.md
      - Processes: processes.md
      - Pre-Commit Hooks: pre-commit-hooks.md
    - Guides: 
      - Using With Flakes: guides/using-with-flakes.md
    - Integrations:
      - Codespaces / devcontainer: integrations/codespaces-devcontainer.md
    - Examples: examples.md
    - Roadmap: roadmap.md
    - Reference:
      - devenv.yaml: reference/yaml-options.md
      - devenv.nix: reference/options.md
  - Blog:
      - blog/index.md
  - Community:
      - Get Involved: community/get-involved.md
      - Contributing: community/contributing.md
plugins:
  search: {}
  markdownextradata: {}
  social:
    cards_color:
      fill: "#FBFBFB"
      text: "#425C82"
  rss:
    match_path: blog/posts/.* 
    date_from_meta:
      as_creation: date
      as_update: date

extra:
  social:
    - icon: fontawesome/brands/twitter 
      link: https://twitter.com/cachix_org
    - icon: fontawesome/brands/github 
      link: https://github.com/cachix/devenv
    - icon: fontawesome/brands/discord 
      link: https://discord.gg/naMgvexb6q
  devenv:
    version: 0.4
markdown_extensions:
  - tables
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true 
  - pymdownx.tasklist
