# See: https://direnv.net/man/direnv-stdlib.1.html for language specific extensions
# prefer nix-direnv for faster direnv actualization
if has nix_direnv_watch_file; then
    nix_direnv_watch_file devenv.nix
    nix_direnv_watch_file devenv.lock
    nix_direnv_watch_file devenv.yaml
    use flake . --impure
else
    echo "Consider https://github.com/nix-community/nix-direnv#installation for a faster direnv/devenv experience."
    echo "To remove this notice, edit .envrc"
    use flake --impure
fi
