@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Override the mkdocs default of 0.5rem */
    font-size: 0.8rem; /* 16px */
}

/* hide site name */
.md-header__topic {
    visibility: hidden;
}
/* mobile hide site name */
.md-nav__title {
    font-size: 0!important;
}

/* mobile make code snippets scrollable */
.image-wrapper {
    overflow: auto!important;
}

/* add some whitespace under hero CTA button */
.md-main__inner {
    padding-bottom: 1rem;
}

@layer components {
    .language-shell::before {
        content: attr(data-shell-prefix);
        @apply me-2 text-blue-300;
    }
}
