@tailwind base;
@tailwind components;
@tailwind utilities;

/* mobile make code snippets scrollable */
.image-wrapper {
    overflow: auto!important;
}

/* add some whitespace under hero CTA button */
.md-main__inner {
    padding-bottom: 1rem;
}

@layer components {
    .language-shell::before {
        content: attr(data-shell-prefix);
        @apply me-2 text-blue-300;
    }
}
