name: "Latest tag"
on:
  push:
    tags:
      - v**
jobs:
  latest-tag:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Update 'latest' git tag
      uses: EndBug/latest-tag@latest
