name: "Examples"

on:
  workflow_call:
    inputs:
      ref:
        description: "Git ref to checkout"
        required: false
        type: string
      system:
        description: "System to run examples on"
        required: true
        type: string
      runs-on:
        description: "Runner to use"
        required: true
        type: string
      nixpkgs-input:
        description: "An optional nixpkgs input to test against"
        required: false
        type: string

jobs:
  generate-examples:
    runs-on: [self-hosted, linux]
    outputs:
      examples: ${{ steps.set-examples.outputs.examples }}
    steps:
      - name: Checkout base repo
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Configure Cachix
        uses: cachix/cachix-action@v16
        with:
          name: devenv
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build devenv
        run: |
          path=$(nix build -L --print-out-paths)
          echo "$path/bin" >> $GITHUB_PATH
      - name: Fetch examples to run
        id: set-examples
        run: |
          set -euxo pipefail
          # Get test metadata filtered for current system
          examples=$(devenv-run-tests generate-json examples)
          echo "examples=$examples" >> $GITHUB_OUTPUT

  examples:
    name: ${{ matrix.example.name }} (${{ inputs.system }})
    needs: [generate-examples]
    strategy:
      fail-fast: false
      matrix:
        example: ${{ fromJSON(needs.generate-examples.outputs.examples) }}
    runs-on: ${{ fromJSON(inputs.runs-on) }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - name: Configure Cachix
        uses: cachix/cachix-action@v16
        with:
          name: devenv
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Build devenv
        run: |
          path=$(nix build -L --print-out-paths)
          echo "$path/bin" >> $GITHUB_PATH
      - name: Run examples
        run: |
          devenv-run-tests \
            ${{ inputs.nixpkgs-input && format('--override-input nixpkgs {0}', inputs.nixpkgs-input) || '' }} \
            run --only ${{ matrix.example.name }} examples
