name: "Generate docs/examples"
on:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: cachix/install-nix-action@v18
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - uses: cachix/cachix-action@v12
      with:
        name: devenv
    - run: nix profile install .
    - name: Generate doc options
      run: devenv shell devenv-generate-doc-options
    - uses: EndBug/add-and-commit@v9
      if: ${{ github.event_name == 'push' }}
      with:
        default_author: github_actions
        add: docs/reference/options.md
        message: 'Auto generate docs/reference/options.md'
    - name: Generate supported-languages example
      run: devenv shell devenv-generate-languages-example
    - uses: EndBug/add-and-commit@v9
      if: ${{ github.event_name == 'push' }}
      with:
        default_author: github_actions
        add: examples/supported-languages/devenv.nix
        message: 'Auto generate examples/supported-languages/devenv.nix'